Front-End/node_modules
network/node_modules
network/composer-logs
environment/hlfv11/composer-logs
test/npm_modules
test/composer-logs
security/CAInteraction/composer-logs
security/CAInteraction/npm_modules
security/CAInteraction/hfc-key-store
