<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <p class="network-name">sample-app@1.0.0.bna</p>
        <p class="navbar-brand">Vehicle-Manufacture-App</p>
      </div>
      <ul class="nav navbar-nav">
        <li class="dropdown active">
            <a class="dropdown-toggle" data-toggle="dropdown">Assets</a>
            <ul class="dropdown-menu scrollable-menu">
              
              <li><a [routerLink]="['/Order']">Order</a></li>
              
              <li><a [routerLink]="['/Vehicle']">Vehicle</a></li>
              <li><a [routerLink]="['/placeOrder']">placeOrder</a></li>

              
            </ul>
        </li>
      </ul>
    </div>
  </nav>
  
  <router-outlet></router-outlet>