<div class = "container">
   <h1> Update Vehicle Owner </h1>
   <form>
      <div class = "form-group">
         <label for = "vehicleid">ID</label>
         <input type = "text" class = "form-control" id = "vehicleid" required
            [(ngModel)] = "model.id" name = "id">
      </div>
      
      

      <div class = "form-group">
         <label for = "model">New Owner</label>
         <input type = "text" class = "form-control" id = "owner"
            [(ngModel)] = "model.owner" name = "owner">
      </div>
       

       <button type="button" class="btn btn-default" (click)="submitTransaction();">Submit </button>
       {{ transactionId }}
   </form>
</div>

